.header {
  background-color: #26B9D1; 
  color: #fbf7f7; 
  padding: 20px;
  display: flex;
  height:60px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px; 
}

.nav-links {
  position: absolute;
  left: 50px;
  
}

.nav-links a {
  color: #fff; 
  text-decoration: none;
  margin-left: 20px; 
}

.nav-links a:hover {
  text-decoration: underline;
}

.nav-links .active {
  font-weight: bold; 
}
