<header class="header">
  

  <input type="checkbox" id="menu-toggle" class="menu-checkbox">
  
  <label for="menu-toggle" class="hamburger">☰</label>

  <nav class="nav-links">
    
    <a routerLink="/fooldal" routerLinkActive="active">Főoldal</a>
    <a routerLink="/parkolo-kereses" routerLinkActive="active">Parkolókeresés</a>
    
    <ng-container *ngIf="authService.isLoggedIn()">
      <a routerLink="/user-bookings" routerLinkActive="active">Foglalásaim</a>
      <a routerLink="/user-profile" routerLinkActive="active">Profilom</a>
    </ng-container>

    <div class="auth-buttons">
      <ng-container *ngIf="!authService.isLoggedIn()">
        <a routerLink="/login" class="auth-btn login-btn">Bejelentkezés</a>
        <a routerLink="/register" class="auth-btn register-btn">Regisztráció</a>
      </ng-container>

      <ng-container *ngIf="authService.isLoggedIn()">
        <a *ngIf="authService.isAdmin()" routerLink="/admin" class="admin-btn">Admin Panel</a>
        <button (click)="logout()" class="logout-btn">Kijelentkezés</button>
      </ng-container>
    </div>

  </nav>
</header>