<div class="login-wrapper">
  <!-- Bal oldal: Kép + szöveg (mobilon rejtett) -->
  <div class="left-panel">
    <img src="assets/Image-Parkolo-felulnezet.png" alt="Parkoló felülnézet" class="bg-image">
    <div class="overlay-content">
      <h2 class="logo-text">ParkEasy</h2>
      <h1>Csatlakozzon hozzánk</h1>
      <p>A kapcsolat fenntartásához kérjük,<br>jelentkezzen be személyes<br>adataival</p>
      <button routerLink="/register" class="ghost-btn">Regisztráció</button>
    </div>
  </div>
 
  <div class="right-panel">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="login-form">
      <div class="google-button">
      </div>
 
      <h2 class="form-title">BEJELENTKEZÉS</h2>
      <button type="button" (click)="continueWithGoogle()" class="google-btn">
          <img src="assets/google-icon-logo-symbol-free-png.png" alt="Google">
        </button>
      <p class="form-subtitle">Vagy használja az e-mail fiókját:</p>
 
      <input type="text" formControlName="username" placeholder="Felhasználónév">
      <input type="password" id="password" formControlName="password" placeholder="Jelszó">
 
      <div class="forgot-password-link">
        <a routerLink="/forgot-password">Elfelejtette a jelszavát?</a>
      </div>
 
      <button class="sign-in-button" type="submit">Bejelentkezés</button>
 
      <div class="mobile-register-link">
        <p>Nincs még fiókja? <a routerLink="/register">Regisztráció</a></p>
      </div>
    </form>
  </div>
</div>