<div class="search-results-page">
  <header>
    <app-header></app-header>
    <div class="filters">
      <button>Szűrők</button>
      
      <button class="map-view-btn" (click)="openMapView()">
         🗺️ Térképnézet
      </button>

      <span>Rendezés: Ajánlott</span>
    </div>
  </header>

  <div class="cards-container">
    @for (spot of parkingSpots; track spot) {
      <app-parking-card
        [spot]="spot"
        (viewDetails)="handleViewDetails($event)">
      </app-parking-card>
    }
  </div>
</div>