ng g c booking.search-page {
  background-color: #686868; 
  min-height: 100vh;
  
  padding-top: 40px;
}

.content-wrapper {
  max-width: 900px; 
  margin: 0 auto;
  padding: 0 20px;
}

.search-header h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 5px;
}

.map-view-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s;
}

.map-view-btn:hover {
  background-color: #0056b3;
}

.search-header span {
  font-weight: bold;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.left-filters {
  display: flex;
  gap: 20px;
  align-items: center;
}

.parking-list {
 display: flex;
  flex-direction: row; 
  flex-wrap: wrap;    
  justify-content: center; 
  gap: 25px;          
  padding: 20px 0;
  width: 100%;
}

.btn-filter, .btn-map {
  background: white;
  border: 1px solid #ddd;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}