<div class="left-image-container">
  <img src="assets/Image-Parkolo-felulnezet.png" >
  <div class="text-container">
    <h2 class="ParkEasy-logo">ParkEasy</h2>
    <h1>Csatlakozzon hozzánk</h1>
    <p>A kapcsolat fenntartásához kérjük,</p>
    <p>jelentkezzen be személyes</p>
    <p>adataival</p>
    <button class="Register-button">REGISZTRÁCIÓ</button>
  </div>
</div>


<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="right-container">
    <button class="google-button"></button>
    
    <h2 style="color: #2CB8D7;">REGISZTRÁCIÓ</h2>
    <br>
    <br>
    <p style="color: #9CA3AF">Vagy használja az e-mail fiókját:</p>

    <input type="text" formControlName="username" placeholder="felhasznalonev">
    <input type="text" formControlName="firstName" placeholder="Keresztnév">
    <input type="text" formControlName="lastName" placeholder="Vezetéknév">
    <input type="text" formControlName="phone" placeholder="Telefon">
    <input type="email"  id="email"formControlName="email" placeholder="E-mail">
    <input type="password"  id="password" formControlName="password" placeholder="Jelszó">

    <button class="Sign-in-button" type="submit">REGISZTRÁCIÓ</button>
  </div>
</form>
