
.hero-wrapper {
  min-height: auto;
}

.search-container {
  width: 90%;
  max-width: 500px;
  margin-top: -30px; 
}

@media (min-width: 768px) {
  
  .hero-wrapper {
    min-height: 600px; 
  }

  .search-container {
    position: absolute; 
    top: 50%;          
    left: 75%;          
    transform: translate(-50%, -50%); 
    margin-top: 0;
    width: 450px; 
  }
  
}