<app-header></app-header>

<section class="position-relative d-flex flex-column align-items-center d-md-block hero-wrapper">
  
  <hero-section class="w-100"></hero-section>     
  
  <div class="search-container z-3">
    <app-quick-search></app-quick-search>
  </div>
  
</section>

<div class="container py-4 py-md-5">

  <div class="py-3 py-md-4">
    <faq></faq>
  </div>

  <div class="py-3 py-md-4">
    <featured-spots></featured-spots>
  </div>

  <div class="py-3 py-md-4">
    <how-it-works></how-it-works>
  </div>

</div>

<app-footer></app-footer>