
.hero-wrapper {
  position: relative; 
  width: 100%;
  min-height: 600px; 
}

.search-container {
  position: absolute; 
  top: 50%;           
  left: 75%;          
  transform: translate(-50%, -50%); 
  
  z-index: 10;        
  width: 90%;         
  max-width: 550px;   
}