#map {
    width: 100%;
    height: 80vh; /* Vagy calc(100vh - header_magasság) */
}

.custom-marker {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50%; /* Ez csinál belőle kört a négyzet helyett */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
}