.foglalotomb {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.foglalotomb button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}   



.foglalotomb button:hover {
  background-color: #0056b3;
}

.foglalotomb button:active {
  background-color: #004080;
}

