<div class="container">
  <div *ngIf="step === 1">
    <h3>Elfelejtett jelszó</h3>
    <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
      <input type="email" formControlName="email" placeholder="Email címed">
      <button type="submit" [disabled]="emailForm.invalid">Kód küldése</button>
    </form>
  </div>

  <div *ngIf="step === 2">
    <h3>Írd be a kapott kódot</h3>
    <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
      <input type="number" formControlName="otp" placeholder="6 jegyű kód">
      <button type="submit">Ellenőrzés</button>
    </form>
  </div>

  <div *ngIf="step === 3">
    <h3>Új jelszó megadása</h3>
    <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
      <input type="password" formControlName="password" placeholder="Új jelszó">
      <input type="password" formControlName="repeatPassword" placeholder="Jelszó újra">
      <button type="submit">Mentés</button>
    </form>
  </div>
</div>