<div class="container">
  @if (step === 1) {
    <div>
      <h3>Elfelejtett jelszó</h3>
      <form [formGroup]="emailForm" (ngSubmit)="sendEmail()">
        <input type="email" formControlName="email" placeholder="Email címed">
        <button type="submit" [disabled]="emailForm.invalid">Kód küldése</button>
      </form>
    </div>
  }

  @if (step === 2) {
    <div>
      <h3>Írd be a kapott kódot</h3>
      <form [formGroup]="otpForm" (ngSubmit)="verifyOtp()">
        <input type="number" formControlName="otp" placeholder="6 jegyű kód">
        <button type="submit">Ellenőrzés</button>
      </form>
    </div>
  }

  @if (step === 3) {
    <div>
      <h3>Új jelszó megadása</h3>
      <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
        <input type="password" formControlName="password" placeholder="Új jelszó">
        <input type="password" formControlName="repeatPassword" placeholder="Jelszó újra">
        <button type="submit">Mentés</button>
      </form>
    </div>
  }
</div>