
.hero-container {
  position: relative;
  width: 100%;
  height: 650px; 
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  text-align: center;
}


.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: brightness(50%);
  object-fit: cover; 
  z-index: 1;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 2;
}


.hero-content {
  position: absolute;
  left: 20px;
  z-index: 3; 
  padding: 20px;
}

.hero-button {
  background-color: #26b9d1;
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
}